[core]
	editor = \"C:\\Users\\Zephi\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Zephira
	email = zephira58@protonmail.com
	signingkey = 75474A972F9F5DDE
[gpg]
  program = "C:/Program Files (x86)/GnuPG/bin/gpg.exe"
[commit]
  gpgsign = true
[tag]
  gpgsign = true